body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #chart-section,
  #list-section,
  #details-section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  #chart-section {
    height: 90vh; /* Adjust the height as needed */
  }
  
  #list-section {
    max-width: 300px; /* Adjust the width as needed */
    float: left;
  }
  
  #details-section {
    clear: both;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  /* Add more styles as needed */
  